* {
	box-sizing: border-box;
}

html {
	height: 100%;
}

#stage {
	display: flex;
	flex: 1;
	align-items: center;
	justify-content: center;
	width: 100%;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
	opacity: 0.8;
}

#main-content {
	border-radius: 16px;
	box-shadow: 0 12px 18px 2px rgba(34,0,51,.04),0 6px 22px 4px rgba(7,48,114,.12),0 6px 10px -4px rgba(14,13,26,.12);
	margin: 0 auto;
	padding: 0 40px 40px 40px;
	position: relative;
	width: 400px;
}

.error {
	background-color: red;
}

.success {
	background-color: #9f9;
}
.description {
	color: gray;
}
