<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<div id="stage">
		<section id="main-content">
			<header>
				<h1>NKN Faucet</h1>
			</header>
			<div class="status">
				<% if (query.tx) { %>
					<p class="success">
						Success! Tx will show up soon: <a href="https://explorer.nknx.org/transactions/<%= query.tx %>"><%= query.tx %></a>
					</p>
				<% }
				if (query.err) { %>
					<p class="error">
						Error: <%= query.err %>.
					</p>
				<% } %>
			</div>

			<form action="/verify" method="POST"  enctype="application/x-www-form-urlencoded">
				<div class="description">NKN Address:</div>
				<input type="text" placeholder="NKN address: NKNxyz..." name="nkn" id="nkn" required>
				<p class="status-extra"></p>
				<div class="description">hCaptcha:</div>
				<div class="h-captcha" data-sitekey="231d72f1-d486-4be4-9273-721eb4246c7a"></div>
				<script src="https://hcaptcha.com/1/api.js" async defer></script>
				<br />
				<input type="submit" value="Get NKN">
			</form>
			<footer>
				<p class="description">
					Try out <a href="https://forum.nkn.org/t/d-chat/1036">D-Chat</a>, please.
				</p>
				<p>
					<a href="https://explorer.nknx.org/addresses/NKNRYQEgeqJjYn82fP9rvbSTb2JGHd6RimdW">Faucet on nknx.org</a>
				</p>
				<noscript>
					Enable javascript
				</noscript>
			</footer>
		</section>
	</div>
</body>
</html>
